@import "src/style/variables/variables";

.home {
  max-width: 1340px;
  padding: 0 20px;
  margin: 3rem auto;
  text-align: center;

  h1 {
    margin-bottom: 16px;
    font-size: 2.5em;
    color: $primary;
  }

  p {
    margin-bottom: 24px;
  }

  .viewerContainer {
    display: flex;
    justify-content: center;
    margin: 40px 0;

    & > * {
      height: 50vh;
    }
  }
}