@import "src/style/variables/variables";

.fileInput {
  margin: 0 auto;
  max-width: 500px;
  border-radius: 20px;
  border: 2px dashed $primary;
  position: relative;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;

  a {
    background-color: $primary;
    color: $dark;
    padding: 5px 10px;
    border-radius: 0.5em;
  }

  input {
    position: absolute;
    inset: 0 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}