@import "variables/variables";

html, body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e8e8e8;
  background-color: $dark;
  font-family: 'Archivo', sans-serif;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: $primary;
  color: $dark;
}

ul, ol {
  list-style-type: none;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {

}

*::-webkit-scrollbar-thumb {
  background-color: desaturate(darken($primary, 60%), 40%);
  outline: 1px solid desaturate(darken($primary, 50%), 20%);
  border-radius: 20px;
}